<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PIPEFILE" class="ch.qos.logback.core.FileAppender">
        <file>${PIVEAU_PIPE_LOG_PATH:-logs/piveau-pipe.log}</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.mchange.v2" level="warn"/>
    <logger name="io.netty" level="warn"/>
    <logger name="io.vertx" level="info"/>
    <logger name="com.hazelcast" level="info"/>
    <logger name="io.piveau" level="info"/>

    <logger name="pipe" level="INFO">
        <appender-ref ref="PIPEFILE" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
